                /* Colors:

    dark green - #333333
    green - #706C61
    offwhite - #E1F4F3
    white - #FFFFFF
        */
                /*
        Fonts
font-family: 'Arima', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif;
                */
                
                a {
                    color: #B4A5A5;
                    text-decoration: none;
                }
                
                body {
                    background: rgb(255, 255, 255);
                    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 50%, rgba(186, 186, 186, 1) 100%);
                    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 50%, rgba(186, 186, 186, 1) 100%);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 50%, rgba(186, 186, 186, 1) 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#bababa", GradientType=1);
                    color: #3fffe0;
                    font-family: 'Ubuntu', sans-serif;
                }
                
                .brand {
                    font-size: 1.45rem;
                }
                
                .btn-secondary {
                    background: rgb(255, 255, 255);
                    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 0.8127626050420168) 50%, rgba(0, 0, 0, 0.3029586834733894) 100%);
                    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 0.8127626050420168) 50%, rgba(0, 0, 0, 0.3029586834733894) 100%);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 0.8127626050420168) 50%, rgba(0, 0, 0, 0.3029586834733894) 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
                    border: solid 1px black;
                    margin-bottom: 1%;
                }
                
                .btn-secondary a {
                    color: #00ff88;
                }
                
                .btn-secondary p {
                    color: #00ff88;
                }
                
                .date-text {
                    font-size: .9rem;
                    text-align: right;
                    text-shadow: 1px 1px black;
                }
                
                .error-msg {
                    color: rgb(255, 0, 0);
                    font-size: 1.75rem;
                    font-style: italic;
                    text-align: center;
                    text-shadow: 1px 1px black;
                }
                
                .footer {
                    color: #c0c0c0;
                    font-size: .75rem;
                    text-align: center;
                }
                
                .group {
                    align-content: center;
                    align-items: center;
                    /*
                background-color: #512e69;
                */
                    background: rgb(0, 0, 0);
                    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(112, 112, 112, 0.23573179271708689) 50%, rgba(0, 0, 0, 0) 100%);
                    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(112, 112, 112, 0.23573179271708689) 50%, rgba(0, 0, 0, 0) 100%);
                    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(112, 112, 112, 0.23573179271708689) 50%, rgba(0, 0, 0, 0) 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
                    box-shadow: -3px -3px 3px #000000;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: auto;
                    margin-top: 10%;
                    padding: 5px;
                    width: 40%;
                }
                
                .group input {
                    background-color: #9e9e9e;
                    color: #3fffe0;
                    font-size: .65rem;
                }
                
                .group label {
                    font-size: .65rem;
                }
                
                .group li {
                    background-color: #a96cd400;
                    color: #3fffe0
                }
                
                .group select {
                    background-color: #151515;
                    color: #3fffe0;
                }
                
                html {
                    min-height: 100%;
                }
                
                .navbar-brand {
                    color: black;
                }
                
                .navbar-brand:hover {
                    color: lightblue;
                    font-size: 1.3rem;
                    text-shadow: 1px 1px black;
                }
                
                .nav-link {
                    color: black;
                }
                
                .nav-link:hover {
                    color: lightblue;
                    font-size: 1.3rem;
                    text-shadow: 1px 1px black;
                }
                
                .navbar-bg {
                    background-color: #e1e1e100;
                }
                
                .navbar-bg:hover {
                    border-bottom: solid black 3px;
                }
                
                .navbar-toggler {
                    border: rgb(0, 0, 0) solid 1px;
                    background-color: rgba(255, 255, 255, 0);
                }
                
                .notable-text {
                    font-family: 'Merriweather', serif;
                    font-size: 1.25rem;
                    text-shadow: 1px 1px #313131;
                    text-align: center;
                    font-style: italic;
                }
                
                .sm-title {
                    font-family: 'Merriweather', serif;
                    font-size: 2rem;
                    text-shadow: 1px 1px #313131;
                    text-align: center;
                }
                
                .table-highlighted {
                    background: rgb(255, 255, 255);
                    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 1) 50%, rgba(0, 0, 0, 1) 100%);
                    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 1) 50%, rgba(0, 0, 0, 1) 100%);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(112, 112, 112, 1) 50%, rgba(0, 0, 0, 1) 100%);
                    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1);
                    box-shadow: 5px 5px 5px #010027;
                    margin: auto;
                    width: 60%;
                }
                
                .table-highlighted th {
                    color: #acacac;
                }
                
                .table-highlighted td {
                    color: #acacac;
                }
                
                .table-highlighted a {
                    color: #f9ff9f;
                    text-shadow: 1px 1px black;
                }
                
                .table-striped>tbody>tr:nth-child(odd)>td,
                .table-striped>tbody>tr:nth-child(odd)>th {
                    background-color: rgba(0, 0, 0, 0.24);
                    color: #f9ff9f;
                    text-shadow: 1px 1px black;
                }
                
                .title {
                    font-family: 'Merriweather', serif;
                    font-size: 3rem;
                    text-shadow: 2px 2px black;
                    text-align: center;
                }
                
                .username-text {
                    color: #333333;
                }